<footer class="page-footer font-small bg-secondary pt4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">nossas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="" class="iconFacebook" title="Facebook">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="" class="iconInstagram" title="Instagram">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="" class="iconLinkedin" title="Linkedin">
                            <fa-icon [icon]="faLinkedin" ></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; 2020 Copyryght;</span>
        <a href="" class="text-light"> blog.online </a>
    </div>
</footer>